alembic
anyio
asgiref
async-timeout
bcrypt
blinker
celery[redis]>=5.2.0
certifi
cffi
charset-normalizer
click
colorama
cryptography
dnspython
email-validator
fastapi
fastapi-limiter
greenlet
h11
httptools
idna
itsdangerous
Jinja2
MarkupSafe
minio
passlib
psycopg2-binary
pycparser
pydantic
pydantic-settings
PyJWT
python-dotenv
python-jose
python-multipart
python-docx
pytz
redis
requests
six
sniffio
SQLAlchemy
starlette
tenacity
typing-extensions
uvicorn
uvloop
watchfiles
websockets
yarl
openpyxl
pandas
numpy
psutil
cachetools
openai
apscheduler
cron-validator
unidecode
structlog
aiohttp
matplotlib
seaborn
plotly
kaleido
scikit-learn
PyMySQL==1.1.0
